<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js сервер | <%= title %></title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="wrap">
        <%- include('./partials/nav.ejs') %>
        <main>
            <h1>Ласкаво просимо!</h1>
            <h2>Це мій перший node.js сервер</h2>
        </main>
    </div>
    <script></script>
</body>
</html>