<!DOCTYPE html>
<head>
    <title>Node.js сервер | <%= title %></title>
    <link rel="stylesheet" href="./css/login_success.css">
</head>
<body>
    <h1>Ви зареєстрували новий акаунт!</h1>
</body>
</html>