<link rel="stylesheet" href="../css/nav.css">
<nav>
        <a href="/">Додому</a>
        <a href="/posts">Пости</a>
        <a href="/add-post">Створити пост</a>
        <a href="/login">Логін</a>
        <a href="/registration">Реєстрація</a>
        <a href="/account">Акаунт</a>
</nav>